.projects-page {
  overflow-y: scroll;
  scroll-behavior: smooth;

  .title {
    top: -300px;
  }

  .projectOne {
    margin-top: 200px;

    .titleTwo {
      font-size: 27px;
      color: rgba(255, 0, 0, 0.6);
      text-align: center;
      font-family: sans-serif;
      font-weight: 600;
      animation: pulse 4s;
    }

    .titleThree {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #fff;
      font-family: sans-serif;
      font-weight: 400;
      min-width: fit-content;
      animation: pulse 3s;

      ul {
        list-style: none;
      }

      ul li::before {
        content: '\25C8';
        font-weight: bold;
        display: inline-block;
        width: 2em;
        margin-left: -1em;
        color: rgba(255, 0, 0, 0.6);
      }
    }

    .titleFour {
      display: flex;
      justify-content: space-evenly;
      justify-items: center;
      margin-top: 20px;

      a:link,
      a:visited {
        background-color: rgba(255, 0, 0, 0.8);
        color: #333;
        text-decoration: none;
        padding: 14px 25px;
        text-align: center;
        border-radius: 25px;
      }

      a:hover,
      a:active {
        color: #fff;
        background-color: rgba(255, 0, 0);
      }
    }

    .slideshow {
      .slideshow-images {
        width: 650px;
        height: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
      }
    }
  }
}
