.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 10%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0;

  svg {
    width: 70%;
    height: auto;
    bottom: 0;
    margin-top: 79px;
    margin-left: 70px;
    transform: rotateZ(30.8deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    bottom: auto;
    right: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(30deg);
    z-index: 0;
  }

  @keyframes animation {
    fade-in {
      opacity: 1;
    }
  }
}

.svg-container {
  stroke: #ff0000;
  stroke-width: 10px;
}
